<h1>Home</h1>

<p *ngIf="loading$ | async; else showListing">Loading</p>

<ng-template #showListing>
    <div class="character-list">
        <app-rick-morty-card *ngFor="let character of characters$ | async"
            [character]="character"></app-rick-morty-card>
    </div>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length$ | async"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
</ng-template>