<mat-toolbar color="primary">
    <span>POC Oscar</span>
    <span class="spacer"></span>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <ng-container *ngIf="user$ | async as user">Hola, {{ user.email }}</ng-container>
        <button mat-icon-button aria-label="Logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>