<mat-card>
    <form [formGroup]="form" novalidate (ngSubmit)="login()">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
            </p>
            <div class="buttons">
                <button type="submit" color="primary" mat-button>Login</button>
                <a mat-button href="/register" target="_self">Register</a>
            </div>
        </mat-card-content>
    </form>
</mat-card>